<a href="https://colab.research.google.com/github/wangjuan001/sandbox2019/blob/master/Copy_of_intro2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# An introduction to solving biological problems with Python: 2

## Learning objectives

- **Recall** what we've learned so far on variables, common data types and collections
- **Propose and create** solutions using these concepts in an exercise
- **Use** conditions to execute specific code block
- **Employ** loops to repeat code block
- **Practice** reading and writing files with Python
- **Solve** more complex exercises

# Recap

- Simple data types, Collections
- Functions used so far...

## Simple data types

In [0]:
## Integer
i = 1
print('Integer:', i)
## Float
x = 3.14
print('Float', x)
## Boolean
print(True)

Integer: 1
Float 3.14
True

In [0]:
## String
s0 = '' # empty string
s1 = 'ATGTCGTCTACAACACT' # single quotes
s2 = "spam's" # double quotes
print(s1 + s2) # concatenate
print(s1, s2) # print

ATGTCGTCTACAACACTspam's
ATGTCGTCTACAACACT spam's

## Collections

In [0]:
## Tuple - immutable
my_tuple = (2, 3, 4, 5)
print('A tuple:', my_tuple)
print('First element of tuple:', my_tuple[0])

A tuple: (2, 3, 4, 5)
First element of tuple: 2

In [0]:
## List
my_list = [2, 3, 4, 5]
print('A list:', my_list)
print('First element of list:', my_list[0])
my_list.append(12)
print('Appended list:', my_list)
my_list[0] = 45
print('Modified list:', my_list)

In [0]:
## String - immutable, tuple of characters
text = "ATGTCATTT"
print('Here is a string:', text)
print('First character:', text[0])
print('Slice text[1:3]:', text[1:3])
print('Number of characters in text', len(text))

Here is a string: ATGTCATTT
First character: A
Slice text[1:3]: TG
Number of characters in text 9

In [0]:
## Set - unique unordered elements
my_set = set([1,2,2,2,2,4,5,6,6,6])
print('A set:', my_set)

A set: {1, 2, 4, 5, 6}

In [0]:
## Dictionary
my_dictionary = {"A": "Adenine", 
                 "C": "Cytosine", 
                 "G": "Guanine", 
                 "T": "Thymine"}
print('A dictionary:', my_dictionary)
print('Value associated to key C:', my_dictionary['C'])

A dictionary: {'A': 'Adenine', 'C': 'Cytosine', 'G': 'Guanine', 'T': 'Thymine'}
Value associated to key C: Cytosine

## Functions used so far...

In [0]:
my_list = ['A', 'C', 'A', 'T', 'G']
print('There are', len(my_list), 'elements in the list', my_list)
print('There are', my_list.count('A'), 'letter A in the list', my_list)
print("ATG TCA CCG GGC".split())

There are 5 elements in the list ['A', 'C', 'A', 'T', 'G']
There are 2 letter A in the list ['A', 'C', 'A', 'T', 'G']
['ATG', 'TCA', 'CCG', 'GGC']

# Part 2.1: Conditional execution

-----

 - Code blocks
 - Conditional execution

## Program control and logic

A program will normally run by executing the stated commands, one after the other in sequential order. Frequently however, you will need the program to deviate from this. There are several ways of diverting from the line-by-line paradigm:

- With conditional statements. Here you can check if some statement or expression is true, and if it is then you continue on with the following block of code, otherwise you might skip it or execute a different bit of code.

- By performing repetitive loops through the same block of code, where each time through the loop different values may be used for the variables.

- Through the use of functions (subroutines) where the program’s execution jumps from a particular line of code to an entirely different spot, even in a different file or module, to do a task before (usually) jumping back again. Functions are covered in the next session, so we will not discuss them yet.

- By checking if an error or exception occurs, i.e. something illegal has happened, and executing different blocks of code accordingly

## Code blocks

With all of the means by which Python code execution can jump about we naturally need to be aware of the boundaries of the block of code we jump into, so that it is clear at what point the job is done, and program execution can jump back again. In essence it is required that the end of a function, loop or conditional statement be defined, so that we know the bounds of their respective code blocks.

Python uses indentation to show which statements are in a block of code, other languages use specific `begin` and `end` statements or curly braces `{}`. It doesn't matter how much indentation you use, but the whole block must be consistent, i.e., if the first statement is indented by four spaces, the rest of the block must be indented by the same amount. The Python style guide recommends using 4-space indentation. Use spaces, rather than tabs, since different editors display tab characters with different widths.

The use of indentation to delineate code blocks is illustrated in an abstract manner in the following scheme: 

Statement 1:

    Command A – in the block of statement 1
    Command B – in the block of statement 1
  
    Statement 2:
        Command C – in the block of statement 2
        Command D – in the block of statement 2
  
    Command E – back in the block of statement 1

Command F – outside all statement blocks

## Conditional execution

### The <tt>if</tt> statement

A conditional <tt>if</tt> statement is used to specify that some block of code should only be executed if some associated test is upheld; a conditional expression evaluates to <tt>True</tt>. This might also involve subsidiary checks using the <tt>elif</tt> statement to use an alternative block if the previous expression turns out to be False. There can even be a final <tt>else</tt> statement to do something if none of the checks are passed. 

The following uses statements that test whether a number is less than zero, greater than zero or otherwise equal to zero and will print out a different message in each case:

In [0]:
x = -3

if x > 0:
  print("Value is positive")

elif x < 0:
  print("Value is negative")

else:
  print("Value is zero")

The general form of writing out such combined conditional statements is as follows:

<pre>
if conditionalExpression1:
    # codeBlock1

elif conditionalExpression2:
    # codeBlock2

elif conditionalExpressionN:
    # codeBlockN
    +any number of additional elif statements, then finally:

else:
    # codeBlockE
</pre>


The <tt>elif</tt> block is optional, and we can use as many as we like. The <tt>else</tt> block is also optional, so will only have the <tt>if</tt> statement, which is a fairly common situation. It is often good practice to include <tt>else</tt> where possible though, so that you always catch cases that do not pass, otherwise values might go unnoticed, which might not be the desired behaviour.

Placeholders are needed for “empty” code blocks:

In [0]:
gene = "BRCA2"
geneExpression = -1.2

if geneExpression < 0:
    print(gene, "is downregulated")
        
elif geneExpression > 0:
    print(gene, "is upregulated")
        
else:
    pass

For very simple conditional checks, you can write the `if` statement on a single line as a single expression, and the result will be the expression before the `if` if the condition is true or the expression after the `else` otherwise.

In [0]:
x = 11

if x < 10:
    s = "Yes"
else:
    s = "No"
print(s)

# Could also be written onto one line
s = "Yes" if x < 10 else "No"
print(s)

### Comparisons and truth

With conditional execution the question naturally arises as to which expressions are deemed to be true and which false. For the python boolean values <tt>True</tt> and <tt>False</tt> the answer is (hopefully) obvious. Also, the logical states of truth and falsehood that result from conditional checks like “Is x greater than 5?” or “Is y in this list?” are also clear. When comparing values Python has the standard comparison (or relational) operators, some of which we have already seen:

|Operator |	Description |	Example |
|---------|-------------|-----------|
|`==`  |	    equality |	1 == 2 # False |
|`!=`  |	    non equality |	1 != 2 # True |
| `<`  |	    less than |	1 < 2 # True |
| `<=` |	    equal or less than |	2 <= 2 # True |
| `>`  |	    greater then |	1 > 2 # False |
| `>=` |	    equal or greater than |	1 >= 1 # True |

It is notable that comparison operations can be combined, for example to check if a value is within a range.

In [0]:
x = -5

if x > 0 and x < 10:
    print("In range A")
    
elif x < 0 or x > 10:
    print("In range B")

Python has two additional comparison operators <tt>is</tt> and <tt>is not</tt>.

These compare whether two objects are the same object, whereas <tt>==</tt> and <tt>!=</tt> compare whether values are the same.

There is a simple rule of thumb to tell when to use `==` or `is`:
- `==` is for **value** equality. Use it to check if two objects have the same value.
- `is` is for **reference** equality. Use it to check if two references refer to the same object.

*Something to note*, you will get unexpected and inconsistent results if you mistakenly use `is` to compare for reference equality on integers:

In [0]:
a = 500
b = 500
print(a == b) # True
print(a is b) # False

Another example with lists `x`, `y`, and `z`:
- `y` being a copy of `x`
- and `z` being another reference to the same object as `x`

In [0]:
x = [123, 54, 92, 87, 33]
y = x[:] # y is a copy of x
z = x
print(x)
print(y)
print(z)
print("Are values of y and x the same?", y == x)
print("Are objects y and x the same?", y is x)
print("Are values of z and x the same?", z == x)
print("Are objects z and x the same?", z is x)

In [0]:
# Let's change x
x[1] = 23
print(x)
print(y)
print(z)
print("Are values of y and x the same?", y == x)
print("Are objects y and x the same?", y is x)
print("Are values of z and x the same?", z == x)
print("Are objects z and x the same?", z is x)

In Python even expressions that do not involve an obvious boolean value can be assigned a status of "truthfulness";  the value of an item itself can be forced to be considered as either True or False inside an if statement. For the Python built-in types discussed in this chapter the following are deemed to be False in such a context:

| False value | Description | 
|-------------|-------------|
| `None` |	numeric equality |
| `False` |	False boolean |
| `0`	| 0 integer |
| `0.0` |	0.0 floating point |
| `""` |	empty string |
| `()` |	empty tuple |
| `[]` |	empty list |
| `{}` |	empty dictonary |
| `set()` |	empty set |

And everything else is deemed to be True in a conditional context.

In [0]:
x = ''      # An empty string
y = ['a']   # A list with one item

if x:
    print("x is true")
else: 
    print("x is false")     

if y:
    print("y is true")
else:
    print("y is false")

## Exercises 2.1.1

Create a `if..elif..else` block that will compare a variable containing your age to another variable containing another person's age and print a statement which says if you are younger, older or the same age as that person.

## Exercises 2.1.2

Use an `if` statement to check if some variable containing DNA sequence contains a stop codon. (e.g. `dna = "ATGGCGGTCGAATAG"`), first just check for one possible stop, but then extend your code to look for any of the 3 stop codons (`TAG`, `TAA`, `TGA`). Hint: recall that the `in` operator lets you check if a string contains some substring, and returns `True` or `False` accordingly.

# Part 2.2: Loops

- The <tt>for</tt> loop
- The <tt>while</tt> loop
- Skipping and breaking loops
- More looping using `range()` and `enumerate()`
- Filtering in loops

## Loops

When an operation needs to be repeated multiple times, for example on all of the items in a list, we 
avoid having to type (or copy and paste) repetitive code by creating a loop. There are two ways of creating loops in Python, the <tt>for</tt> loop and the <tt>while</tt> loop.

## The <tt>for</tt> loop

The for loop in Python iterates over each item in a sequence (such as a list or tuple) in the order that they appear in the sequence. What this means is that a variable (<tt>code</tt> in the below example) is set to each item from the sequence of values in turn, and each time this happens the indented block of code is executed again.

In [0]:
codeList = ['NA06984', 'NA06985', 'NA06986', 'NA06989', 'NA06991']

for code in codeList:
    print(code)

A <tt>for</tt> loop can iterate over the individual characters in a string:

In [0]:
dnaSequence = 'ATGGTGTTGCC'

for base in dnaSequence:
    print(base)

And also over the keys of a dictionary:

In [0]:
rnaMassDict = {"G":345.21, "C":305.18, "A":329.21, "U":302.16}

for x in rnaMassDict:
    print(x, rnaMassDict[x])

Any variables that are defined before the loop can be accessed from inside the loop. So for example to calculate the summation of the items in a list of values we could define the total initially to be zero and add each value to the total in the loop:

In [0]:
total = 0
values = [1, 2, 4, 8, 16]

for v in values:
    total = total + v
    # total += v
    print(total)

print(total)

Naturally we can combine a <tt>for</tt> loop with an <tt>if</tt> statement, noting that we need two indentation levels, one for the outer loop and another for the conditional blocks:

In [0]:
geneExpression = {
    'Beta-Catenin': 2.5, 
    'Beta-Actin': 1.7, 
    'Pax6': 0, 
    'HoxA2': -3.2
}

for gene in geneExpression:
    if geneExpression[gene] < 0:
        print(gene, "is downregulated")
        
    elif geneExpression[gene] > 0:
        print(gene, "is upregulated")
        
    else:
        print("No change in expression of ", gene)

## Exercises 2.2.1

1. Create a sequence where each element is an individual base of DNA. Make the sequence 15 bases long.
2. Print the length of the sequence.
3. Create a `for` loop to output every base of the sequence on a new line.

## The <tt>while</tt> loop

In addition to the <tt>for</tt> loop that operates on a collection of items, there is a <tt>while</tt> loop that simply repeats while some statement evaluates to True and stops when it is False. Note that if the tested expression never evaluates to False then you have an “infinite loop”, which is not good.

In this example we generate a series of numbers by doubling a value after each iteration, until a limit is reached:

In [0]:
value = 0.25
while value < 8:
    value = value * 2
    print(value)

print("final value:", value)

Whats going on here is that the value is doubled in each iteration and once it gets to 8 the while test fails (8 is not less than 8) and that last value is preserved. Note that if the test were instead value `<= 8` then we would get one more doubling and the value would reach 16.

## Exercises 2.2.2

1. Reuse the 15 bases long sequence created at the previous exercise where each element is an individual base of DNA.
2. Create a <tt>while</tt> loop similar to the one above that starts at the third base in the sequence and outputs every third base until the 12th.

## Skipping and breaking loops

Python has two ways of affecting the flow of the <tt>for</tt> or <tt>while</tt> loop inside the block. The <tt>continue</tt> statement means that the rest of the code in the block is skipped for this particular item in the collection, i.e. jump to the next iteration. In this example negative numbers are left out of a summation:

In [0]:
values = [10, -5, 3, -1, 7]

total = 0
for v in values:
    if v < 0:
        continue # Skip this iteration   
    total += v

print(total)

The other way of affecting a loop is with the <tt>break</tt> statement. In contrast to the <tt>continue</tt> statement, this immediately causes all looping to finish, and execution is resumed at the next statement _after_ the loop.

In [0]:
geneticCode = {'TAT': 'Tyrosine',  'TAC': 'Tyrosine',
               'CAA': 'Glutamine', 'CAG': 'Glutamine',
               'TAG': 'STOP'}

sequence = ['CAG','TAC','CAA','TAG','TAC','CAG','CAA']

for codon in sequence:
    if geneticCode[codon] == 'STOP':
        break            # Quit looping at this point
    else:
        print(geneticCode[codon])

## Looping gotchas

An internal counter is used to keep track of which item is used next, and this is incremented on each iteration. When this counter has reached the length of the sequence the loop terminates. This means that if you delete the current item from the sequence, the next item will be skipped (since it gets the index of the current item which has already been treated). Likewise, if you insert an item in a sequence before the current item, the current item will be treated again the next time through the loop. This can lead to nasty bugs that can be avoided by making a temporary copy using a slice of the whole sequence.

<div class="alert-warning">
**When looping, never modify the collection!** Always create a copy of it first.
</div>

## More looping

### Using `range()`

If you would like to iterate over a numeric sequence then this is possible by combining the `range()` function and a for loop.

In [0]:
print(list(range(10)))

print(list(range(5, 10)))

print(list(range(0, 10, 3)))

print(list(range(7, 2, -2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[7, 5, 3]

Looping through ranges

In [0]:
for x in range(8):
    print(x*x)

0
1
4
9
16
25
36
49

In [0]:
squares = []
for x in range(8):
    s = x*x
    squares.append(s)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49]

### Using `enumerate()`

Given a sequence, `enumerate()` allows you to iterate over the sequence generating a tuple containing each value along with a corresponding index.

In [0]:
letters = ['A','C','G','T']
for index, letter in enumerate(letters):
    print(index, letter)

0 A
1 C
2 G
3 T

In [0]:
numbered_letters = list(enumerate(letters))
print(numbered_letters)

[(0, 'A'), (1, 'C'), (2, 'G'), (3, 'T')]

## Filtering in loops

In [0]:
city_pops = {
    'London': 8200000,
    'Cambridge': 130000,
    'Edinburgh': 420000,
    'Glasgow': 1200000
}

big_cities = []
for city in city_pops:
    if city_pops[city] >= 1000000:
         big_cities.append(city)

print(big_cities)

['London', 'Glasgow']

In [0]:
total = 0
for city in city_pops:
    total += city_pops[city]
print("total population:", total)

total population: 9950000

In [0]:
pops = list(city_pops.values())
print("total population:", sum(pops))

total population: 9950000

## Formating string

Constructing more complex strings from a mix of variables of different types can be cumbersome, and sometimes you want more control over how values are interpolated into a string. Python provides a powerful mechanism for formatting strings using built-in `.format()` function using "replacement fields" surrounded by curly braces `{}` which starts with an optional field name followed by a colon `:` and finishes with a format specification. 

There are lots of these specifiers, but here are 3 useful ones:

    d: decimal integer
    f: floating point number
    s: string

You can specify the number of decimal points to use in a floating point number with, e.g. `.2f` to use 2 decimal places or `+.2f` to use 2 decimal with always showing its associated sign.

In [0]:
print('{:.2f}'.format(0.4567))

0.46

In [0]:
geneExpression = {
    'Beta-Catenin': 2.5, 
    'Beta-Actin': 1.7, 
    'Pax6': 0, 
    'HoxA2': -3.2
}

for gene in geneExpression:
    print('{:s}\t{:+.2f}'.format(gene, geneExpression[gene])) # s is optional
    # could also be written using variable names
    #print('{gene:s}\t{exp:+.2f}'.format(gene=gene, exp=geneExpression[gene]))

Beta-Catenin	+2.50
Beta-Actin	+1.70
Pax6	+0.00
HoxA2	-3.20

## Exercises 2.2.3

1. Let's calculate the GC content of a DNA sequence. Use the 15-base sequence you created for the exercises above. Create a variable, `gc`, which we will use to count the number of Gs or Cs in our sequence.
2. Output every base of the sequence alongside its index on a new line.
3. Create a loop to iterate over the bases in your sequence. If the base is a G or the base is a C, add one to your `gc` variable.
4. When the loop is done, divide the number of GC bases by the length of the sequence and multiply by 100 to get the GC percentage. Format the result to only display 2 decimal places.

# Part 2.3: Data input and output (I/O)

-----

- Using files
- Reading from files
- Writing to files

So far, all that data we have been working with has been written by us into our scripts, and the results of out computation has just been displayed in the terminal output. In the real world data will be supplied by the user of our programs (who may be you!) by some means, and we will often want to save the results of some analysis somewhere more permanent than just printing it to the screen. In this session we cover the way of reading data into our programs by reading files from disk, we also discuss writing out data to files. 

There are, of course, many other ways of accessing data, such as querying a database or retrieving data from a network such as the internet. We don't cover these here, but python has excellent support for interacting with databases and networks either in the standard library or using external modules.

## Using files

Frequently the data we want to operate on or analyse will be stored in files, so in our programs we need to be able to open files, read through them (perhaps all at once, perhaps not), and then close them. 

We will also frequently want to be able to print output to files rather than always printing out results to the terminal.

Python supports all of these modes of operations on files, and provides a number of useful functions and syntax to make dealing with files straightforward.

### Opening files

To open a file, python provides the `open` function, which takes a filename as its first argument and returns a _file object_ which is python's internal representation of the file.

In [0]:

# Get file from the course's website

!wget https://nekrut.github.io/BMMB554/tnseq_data_short.txt

--2019-01-16 20:13:25--  https://nekrut.github.io/BMMB554/tnseq_data_short.txt
Resolving nekrut.github.io (nekrut.github.io)... 185.199.110.153, 185.199.108.153, 185.199.111.153, ...
Connecting to nekrut.github.io (nekrut.github.io)|185.199.110.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5275 (5.2K) [text/plain]
Saving to: ‘tnseq_data_short.txt.1’

tnseq_data_short.tx 100%[===================>]   5.15K  --.-KB/s    in 0s

2019-01-16 20:13:25 (67.1 MB/s) - ‘tnseq_data_short.txt.1’ saved [5275/5275]

In [0]:
# Make a copy just in case
!cp tnseq_data_short.txt small_file.txt

In [0]:
path = "tnseq_data_short.txt"
fileObj = open( path )

`open` takes an optional second argument specifying the _mode_ in which the file is opened, either for reading, writing or appending.

It defaults to `'r'` which means open for reading in text mode. Other common values are `'w'` for writing (truncating the file if it already exists) and `'a'` for appending.

In [0]:
open( "tnseq_data_short.txt", "r" ) # open for reading, default

### Closing files

To close a file once you finished with it, you can call the `.close` method on a file object.

In [0]:
fileObj.close()

### Mode modifiers

These mode strings can include some extra modifier characters to deal with issues with files across multiple platforms.

`'b'`: binary mode, e.g. `'rb'`. No translation for end-of-line characters to platform specific setting value.

|Character | Meaning |
|----------|---------|
|`'r'` |	open for reading (default) |
|`'w'` |	open for writing, truncating the file first |
|`'x'` |	open for exclusive creation, failing if the file already exists |
|`'a'` |	open for writing, appending to the end of the file if it exists |
|`'b'` |	binary mode |
|`'t'` |	text mode (default) |
|`'+'` |	open a disk file for updating (reading and writing) |

## Reading from files

Once we have opened a file for reading, file objects provide a number of methods for accessing the data in a file. The simplest of these is the `.read` method that reads the entire contents of the file into a string variable.

In [0]:
fileObj = open( "tnseq_data_short.txt" )
print(fileObj.read()) # everything
fileObj.close()

#'chr'	'start'	'end'	'blunt'	'cap'	'dual_pen'	'erm'	'pen'	'tuf'
NC_007795.1	2500004	2500006	4.0	3.0	1.0	1.0	2.0	10.0
NC_007795.1	2500008	2500010	3.0	11.0	0.0	1.0	2.0	11.0
NC_007795.1	2500020	2500022	4.0	13.0	8.0	2.0	5.0	13.0
NC_007795.1	2500022	2500024	27.0	15.0	8.0	3.0	7.0	18.0
NC_007795.1	2500031	2500033	27.0	13.0	8.0	3.0	6.0	23.0
NC_007795.1	2500033	2500035	26.0	12.0	8.0	3.0	5.0	23.0
NC_007795.1	2500037	2500039	28.0	12.0	6.0	5.0	7.0	16.0
NC_007795.1	2500043	2500045	6.0	11.0	6.0	4.0	5.0	10.0
NC_007795.1	2500050	2500052	5.0	6.0	5.0	4.0	5.0	6.0
NC_007795.1	2500058	2500060	1.0	5.0	0.0	0.0	1.0	2.0
NC_007795.1	2500061	2500063	3.0	0.0	0.0	0.0	0.0	0.0
NC_007795.1	2500065	2500067	4.0	2.0	0.0	13.0	1.0	3.0
NC_007795.1	2500077	2500079	5.0	3.0	0.0	13.0	8.0	8.0
NC_007795.1	2500085	2500087	5.0	1.0	0.0	1.0	7.0	6.0
NC_007795.1	2500089	2500091	4.0	1.0	0.0	1.0	6.0	4.0
NC_007795.1	2500097	2500099	2.0	0.0	0.0	1.0	0.0	1.0
NC_007795.1	2500103	2500105	1.0	0.0	0.0	0.0	0.0	0.0
NC_007795.1	2500110	2500112	1.0	3.0	0.0	2.0	0.0	0.0
NC_007795.1	2500124	2500126	1.0	3.0	0.0	3.0	1.0	1.0
NC_007795.1	2500131	2500133	1.0	3.0	4.0	2.0	3.0	27.0
NC_007795.1	2500148	2500150	2.0	8.0	0.0	3.0	10.0	1.0
NC_007795.1	2500150	2500152	3.0	9.0	5.0	6.0	10.0	2.0
NC_007795.1	2500158	2500160	3.0	9.0	5.0	6.0	10.0	2.0
NC_007795.1	2500167	2500169	0.0	0.0	0.0	1.0	0.0	0.0
NC_007795.1	2500175	2500177	0.0	0.0	0.0	1.0	0.0	0.0
NC_007795.1	2500181	2500183	3.0	2.0	1.0	11.0	10.0	11.0
NC_007795.1	2500193	2500195	4.0	3.0	13.0	13.0	11.0	18.0
NC_007795.1	2500214	2500216	3.0	3.0	1.0	2.0	1.0	16.0
NC_007795.1	2500219	2500221	3.0	4.0	2.0	2.0	1.0	18.0
NC_007795.1	2500223	2500225	3.0	4.0	2.0	2.0	1.0	18.0
NC_007795.1	2500232	2500234	0.0	1.0	1.0	0.0	1.0	2.0
NC_007795.1	2500253	2500255	10.0	5.0	1.0	3.0	2.0	35.0
NC_007795.1	2500265	2500267	12.0	6.0	6.0	3.0	2.0	34.0
NC_007795.1	2500280	2500282	4.0	7.0	6.0	5.0	1.0	1.0
NC_007795.1	2500282	2500284	2.0	5.0	1.0	5.0	1.0	2.0
NC_007795.1	2500286	2500288	1.0	2.0	1.0	0.0	2.0	3.0
NC_007795.1	2500293	2500295	1.0	0.0	1.0	2.0	1.0	2.0
NC_007795.1	2500299	2500301	1.0	0.0	1.0	2.0	1.0	1.0
NC_007795.1	2500305	2500307	0.0	0.0	0.0	2.0	0.0	0.0
NC_007795.1	2500326	2500328	0.0	0.0	0.0	0.0	0.0	0.0
NC_007795.1	2500340	2500342	1.0	0.0	2.0	1.0	0.0	0.0
NC_007795.1	2500344	2500346	1.0	0.0	2.0	1.0	0.0	0.0
NC_007795.1	2500352	2500354	1.0	1.0	3.0	1.0	0.0	0.0
NC_007795.1	2500376	2500378	2.0	0.0	1.0	0.0	1.0	6.0
NC_007795.1	2500380	2500382	2.0	0.0	0.0	0.0	2.0	2.0
NC_007795.1	2500394	2500396	0.0	0.0	0.0	0.0	1.0	0.0
NC_007795.1	2500409	2500411	1.0	0.0	0.0	0.0	0.0	2.0
NC_007795.1	2500428	2500430	0.0	0.0	0.0	0.0	1.0	2.0
NC_007795.1	2500468	2500470	2.0	2.0	3.0	0.0	1.0	1.0
NC_007795.1	2500485	2500487	0.0	1.0	1.0	1.0	2.0	0.0
NC_007795.1	2500488	2500490	3.0	1.0	1.0	0.0	2.0	0.0
NC_007795.1	2500496	2500498	3.0	0.0	1.0	1.0	1.0	1.0
NC_007795.1	2500509	2500511	2.0	8.0	0.0	2.0	2.0	2.0
NC_007795.1	2500512	2500514	2.0	8.0	0.0	1.0	2.0	1.0
NC_007795.1	2500526	2500528	1.0	0.0	0.0	0.0	0.0	0.0
NC_007795.1	2500559	2500561	6.0	8.0	1.0	2.0	8.0	1.0
NC_007795.1	2500571	2500573	11.0	9.0	3.0	2.0	9.0	1.0
NC_007795.1	2500583	2500585	9.0	11.0	3.0	2.0	7.0	5.0
NC_007795.1	2500588	2500590	7.0	10.0	2.0	3.0	11.0	6.0
NC_007795.1	2500610	2500612	0.0	0.0	0.0	0.0	0.0	0.0
NC_007795.1	2500629	2500631	0.0	0.0	0.0	0.0	0.0	0.0
NC_007795.1	2500661	2500663	12.0	1.0	5.0	3.0	0.0	1.0
NC_007795.1	2500682	2500684	1.0	1.0	1.0	4.0	0.0	1.0
NC_007795.1	2500685	2500687	2.0	2.0	16.0	8.0	1.0	2.0
NC_007795.1	2500694	2500696	1.0	2.0	15.0	4.0	1.0	1.0
NC_007795.1	2500700	2500702	1.0	2.0	15.0	4.0	1.0	2.0
NC_007795.1	2500707	2500709	0.0	1.0	1.0	3.0	1.0	1.0
NC_007795.1	2500710	2500712	0.0	1.0	1.0	3.0	1.0	1.0
NC_007795.1	2500718	2500720	1.0	2.0	1.0	3.0	1.0	0.0
NC_007795.1	2500740	2500742	1.0	0.0	1.0	4.0	1.0	2.0
NC_007795.1	2500748	2500750	1.0	0.0	2.0	4.0	1.0	2.0
NC_007795.1	2500766	2500768	4.0	2.0	14.0	0.0	1.0	4.0
NC_007795.1	2500773	2500775	3.0	0.0	4.0	0.0	2.0	9.0
NC_007795.1	2500775	2500777	7.0	0.0	15.0	0.0	2.0	17.0
NC_007795.1	2500779	2500781	5.0	4.0	13.0	7.0	1.0	16.0
NC_007795.1	2500781	2500783	5.0	4.0	12.0	7.0	1.0	16.0
NC_007795.1	2500793	2500795	0.0	4.0	0.0	7.0	0.0	1.0
NC_007795.1	2500819	2500821	17.0	1.0	1.0	5.0	2.0	7.0
NC_007795.1	2500827	2500829	17.0	1.0	1.0	5.0	2.0	7.0
NC_007795.1	2500829	2500831	18.0	4.0	1.0	13.0	1.0	9.0
NC_007795.1	2500850	2500852	22.0	4.0	3.0	5.0	3.0	4.0
NC_007795.1	2500856	2500858	23.0	2.0	2.0	3.0	0.0	2.0
NC_007795.1	2500874	2500876	0.0	0.0	0.0	0.0	0.0	1.0
NC_007795.1	2500886	2500888	6.0	1.0	4.0	1.0	3.0	3.0
NC_007795.1	2500896	2500898	7.0	3.0	11.0	1.0	4.0	3.0
NC_007795.1	2500901	2500903	7.0	2.0	8.0	1.0	3.0	3.0
NC_007795.1	2500908	2500910	1.0	2.0	7.0	0.0	1.0	1.0
NC_007795.1	2500916	2500918	0.0	0.0	0.0	0.0	0.0	0.0
NC_007795.1	2500934	2500936	1.0	0.0	1.0	1.0	0.0	6.0
NC_007795.1	2500943	2500945	2.0	0.0	0.0	2.0	1.0	8.0
NC_007795.1	2500945	2500947	2.0	3.0	0.0	2.0	1.0	10.0
NC_007795.1	2500961	2500963	1.0	0.0	1.0	2.0	0.0	7.0
NC_007795.1	2500964	2500966	1.0	1.0	1.0	3.0	1.0	2.0
NC_007795.1	2500978	2500980	0.0	1.0	0.0	2.0	1.0	0.0
NC_007795.1	2500994	2500996	0.0	0.0	1.0	2.0	0.0	0.0
NC_007795.1	2501010	2501012	0.0	0.0	3.0	2.0	9.0	1.0
NC_007795.1	2501013	2501015	0.0	0.0	2.0	0.0	9.0	1.0
NC_007795.1	2501022	2501024	5.0	0.0	2.0	0.0	10.0	1.0
NC_007795.1	2501028	2501030	6.0	0.0	0.0	1.0	1.0	0.0

Note that this means the entire file will be read into memory. If you are operating on a large file and don't actually need all the data at the same time this is rather inefficient.

Frequently, we just need to operate on individual lines of the file, and you can use the `.readline` method to read a line from a file and return it as a python string.

File objects internally keep track of your current location in a file, so to get following lines from the file you can call this method multiple times.

It is important to note that the string representing each line will have a trailing newline `"\n"` character, which you may want to remove with the `.rstrip` string method.

Once the end of the file is reached, `.readline` will return an empty string `''`. This is different from an apparently empty line in a file, as even an empty line will contain a newline character. Recall that the empty string is considered as `False` in python, so you can readily check for this condition with an `if` statement etc.

In [0]:
# one line at a time
fileObj = open( "tnseq_data_short.txt" )
print("1st line:", fileObj.readline())
print("2nd line:", fileObj.readline())
print("3rd line:", fileObj.readline())
print("4th line:", fileObj.readline())
fileObj.close()

1st line: #'chr'	'start'	'end'	'blunt'	'cap'	'dual_pen'	'erm'	'pen'	'tuf'

2nd line: NC_007795.1	2500004	2500006	4.0	3.0	1.0	1.0	2.0	10.0

3rd line: NC_007795.1	2500008	2500010	3.0	11.0	0.0	1.0	2.0	11.0

4th line: NC_007795.1	2500020	2500022	4.0	13.0	8.0	2.0	5.0	13.0

To read in all lines from a file as a list of strings containing the data from each line, use the `.readlines` method (though note that this will again read all data into memory).

In [0]:
# all lines
fileObj = open( "tnseq_data_short.txt" )

lines = fileObj.readlines()

print("The file has", len(lines), "lines")

fileObj.close()

The file has 100 lines

Looping over the lines in a file is a very common operation and python lets you iterate over a file using a `for` loop just as if it were an array of strings. This does not read all data into memory at once, and so is much more efficient that reading the file with `.readlines` and then looping over the resulting list.

In [0]:
# as an iterable
fileObj = open( "tnseq_data_short.txt" )

for line in fileObj:
    print(line.rstrip().lower())

fileObj.close()

#'chr'	'start'	'end'	'blunt'	'cap'	'dual_pen'	'erm'	'pen'	'tuf'
nc_007795.1	2500004	2500006	4.0	3.0	1.0	1.0	2.0	10.0
nc_007795.1	2500008	2500010	3.0	11.0	0.0	1.0	2.0	11.0
nc_007795.1	2500020	2500022	4.0	13.0	8.0	2.0	5.0	13.0
nc_007795.1	2500022	2500024	27.0	15.0	8.0	3.0	7.0	18.0
nc_007795.1	2500031	2500033	27.0	13.0	8.0	3.0	6.0	23.0
nc_007795.1	2500033	2500035	26.0	12.0	8.0	3.0	5.0	23.0
nc_007795.1	2500037	2500039	28.0	12.0	6.0	5.0	7.0	16.0
nc_007795.1	2500043	2500045	6.0	11.0	6.0	4.0	5.0	10.0
nc_007795.1	2500050	2500052	5.0	6.0	5.0	4.0	5.0	6.0
nc_007795.1	2500058	2500060	1.0	5.0	0.0	0.0	1.0	2.0
nc_007795.1	2500061	2500063	3.0	0.0	0.0	0.0	0.0	0.0
nc_007795.1	2500065	2500067	4.0	2.0	0.0	13.0	1.0	3.0
nc_007795.1	2500077	2500079	5.0	3.0	0.0	13.0	8.0	8.0
nc_007795.1	2500085	2500087	5.0	1.0	0.0	1.0	7.0	6.0
nc_007795.1	2500089	2500091	4.0	1.0	0.0	1.0	6.0	4.0
nc_007795.1	2500097	2500099	2.0	0.0	0.0	1.0	0.0	1.0
nc_007795.1	2500103	2500105	1.0	0.0	0.0	0.0	0.0	0.0
nc_007795.1	2500110	2500112	1.0	3.0	0.0	2.0	0.0	0.0
nc_007795.1	2500124	2500126	1.0	3.0	0.0	3.0	1.0	1.0
nc_007795.1	2500131	2500133	1.0	3.0	4.0	2.0	3.0	27.0
nc_007795.1	2500148	2500150	2.0	8.0	0.0	3.0	10.0	1.0
nc_007795.1	2500150	2500152	3.0	9.0	5.0	6.0	10.0	2.0
nc_007795.1	2500158	2500160	3.0	9.0	5.0	6.0	10.0	2.0
nc_007795.1	2500167	2500169	0.0	0.0	0.0	1.0	0.0	0.0
nc_007795.1	2500175	2500177	0.0	0.0	0.0	1.0	0.0	0.0
nc_007795.1	2500181	2500183	3.0	2.0	1.0	11.0	10.0	11.0
nc_007795.1	2500193	2500195	4.0	3.0	13.0	13.0	11.0	18.0
nc_007795.1	2500214	2500216	3.0	3.0	1.0	2.0	1.0	16.0
nc_007795.1	2500219	2500221	3.0	4.0	2.0	2.0	1.0	18.0
nc_007795.1	2500223	2500225	3.0	4.0	2.0	2.0	1.0	18.0
nc_007795.1	2500232	2500234	0.0	1.0	1.0	0.0	1.0	2.0
nc_007795.1	2500253	2500255	10.0	5.0	1.0	3.0	2.0	35.0
nc_007795.1	2500265	2500267	12.0	6.0	6.0	3.0	2.0	34.0
nc_007795.1	2500280	2500282	4.0	7.0	6.0	5.0	1.0	1.0
nc_007795.1	2500282	2500284	2.0	5.0	1.0	5.0	1.0	2.0
nc_007795.1	2500286	2500288	1.0	2.0	1.0	0.0	2.0	3.0
nc_007795.1	2500293	2500295	1.0	0.0	1.0	2.0	1.0	2.0
nc_007795.1	2500299	2500301	1.0	0.0	1.0	2.0	1.0	1.0
nc_007795.1	2500305	2500307	0.0	0.0	0.0	2.0	0.0	0.0
nc_007795.1	2500326	2500328	0.0	0.0	0.0	0.0	0.0	0.0
nc_007795.1	2500340	2500342	1.0	0.0	2.0	1.0	0.0	0.0
nc_007795.1	2500344	2500346	1.0	0.0	2.0	1.0	0.0	0.0
nc_007795.1	2500352	2500354	1.0	1.0	3.0	1.0	0.0	0.0
nc_007795.1	2500376	2500378	2.0	0.0	1.0	0.0	1.0	6.0
nc_007795.1	2500380	2500382	2.0	0.0	0.0	0.0	2.0	2.0
nc_007795.1	2500394	2500396	0.0	0.0	0.0	0.0	1.0	0.0
nc_007795.1	2500409	2500411	1.0	0.0	0.0	0.0	0.0	2.0
nc_007795.1	2500428	2500430	0.0	0.0	0.0	0.0	1.0	2.0
nc_007795.1	2500468	2500470	2.0	2.0	3.0	0.0	1.0	1.0
nc_007795.1	2500485	2500487	0.0	1.0	1.0	1.0	2.0	0.0
nc_007795.1	2500488	2500490	3.0	1.0	1.0	0.0	2.0	0.0
nc_007795.1	2500496	2500498	3.0	0.0	1.0	1.0	1.0	1.0
nc_007795.1	2500509	2500511	2.0	8.0	0.0	2.0	2.0	2.0
nc_007795.1	2500512	2500514	2.0	8.0	0.0	1.0	2.0	1.0
nc_007795.1	2500526	2500528	1.0	0.0	0.0	0.0	0.0	0.0
nc_007795.1	2500559	2500561	6.0	8.0	1.0	2.0	8.0	1.0
nc_007795.1	2500571	2500573	11.0	9.0	3.0	2.0	9.0	1.0
nc_007795.1	2500583	2500585	9.0	11.0	3.0	2.0	7.0	5.0
nc_007795.1	2500588	2500590	7.0	10.0	2.0	3.0	11.0	6.0
nc_007795.1	2500610	2500612	0.0	0.0	0.0	0.0	0.0	0.0
nc_007795.1	2500629	2500631	0.0	0.0	0.0	0.0	0.0	0.0
nc_007795.1	2500661	2500663	12.0	1.0	5.0	3.0	0.0	1.0
nc_007795.1	2500682	2500684	1.0	1.0	1.0	4.0	0.0	1.0
nc_007795.1	2500685	2500687	2.0	2.0	16.0	8.0	1.0	2.0
nc_007795.1	2500694	2500696	1.0	2.0	15.0	4.0	1.0	1.0
nc_007795.1	2500700	2500702	1.0	2.0	15.0	4.0	1.0	2.0
nc_007795.1	2500707	2500709	0.0	1.0	1.0	3.0	1.0	1.0
nc_007795.1	2500710	2500712	0.0	1.0	1.0	3.0	1.0	1.0
nc_007795.1	2500718	2500720	1.0	2.0	1.0	3.0	1.0	0.0
nc_007795.1	2500740	2500742	1.0	0.0	1.0	4.0	1.0	2.0
nc_007795.1	2500748	2500750	1.0	0.0	2.0	4.0	1.0	2.0
nc_007795.1	2500766	2500768	4.0	2.0	14.0	0.0	1.0	4.0
nc_007795.1	2500773	2500775	3.0	0.0	4.0	0.0	2.0	9.0
nc_007795.1	2500775	2500777	7.0	0.0	15.0	0.0	2.0	17.0
nc_007795.1	2500779	2500781	5.0	4.0	13.0	7.0	1.0	16.0
nc_007795.1	2500781	2500783	5.0	4.0	12.0	7.0	1.0	16.0
nc_007795.1	2500793	2500795	0.0	4.0	0.0	7.0	0.0	1.0
nc_007795.1	2500819	2500821	17.0	1.0	1.0	5.0	2.0	7.0
nc_007795.1	2500827	2500829	17.0	1.0	1.0	5.0	2.0	7.0
nc_007795.1	2500829	2500831	18.0	4.0	1.0	13.0	1.0	9.0
nc_007795.1	2500850	2500852	22.0	4.0	3.0	5.0	3.0	4.0
nc_007795.1	2500856	2500858	23.0	2.0	2.0	3.0	0.0	2.0
nc_007795.1	2500874	2500876	0.0	0.0	0.0	0.0	0.0	1.0
nc_007795.1	2500886	2500888	6.0	1.0	4.0	1.0	3.0	3.0
nc_007795.1	2500896	2500898	7.0	3.0	11.0	1.0	4.0	3.0
nc_007795.1	2500901	2500903	7.0	2.0	8.0	1.0	3.0	3.0
nc_007795.1	2500908	2500910	1.0	2.0	7.0	0.0	1.0	1.0
nc_007795.1	2500916	2500918	0.0	0.0	0.0	0.0	0.0	0.0
nc_007795.1	2500934	2500936	1.0	0.0	1.0	1.0	0.0	6.0
nc_007795.1	2500943	2500945	2.0	0.0	0.0	2.0	1.0	8.0
nc_007795.1	2500945	2500947	2.0	3.0	0.0	2.0	1.0	10.0
nc_007795.1	2500961	2500963	1.0	0.0	1.0	2.0	0.0	7.0
nc_007795.1	2500964	2500966	1.0	1.0	1.0	3.0	1.0	2.0
nc_007795.1	2500978	2500980	0.0	1.0	0.0	2.0	1.0	0.0
nc_007795.1	2500994	2500996	0.0	0.0	1.0	2.0	0.0	0.0
nc_007795.1	2501010	2501012	0.0	0.0	3.0	2.0	9.0	1.0
nc_007795.1	2501013	2501015	0.0	0.0	2.0	0.0	9.0	1.0
nc_007795.1	2501022	2501024	5.0	0.0	2.0	0.0	10.0	1.0
nc_007795.1	2501028	2501030	6.0	0.0	0.0	1.0	1.0	0.0

### The with statement

It is important that files are closed when they are no longer required, but writing ``fileObj.close()`` is tedious (and more importantly, easy to forget). An alternative syntax is to open the files within a ``with`` statement, in which case the file will automatically be closed at the end of the `with` block.

In [0]:
# fileObj will be closed when leaving the block
with open( "tnseq_data_short.txt" ) as fileObj:
    for ( i, line ) in enumerate( fileObj, start=1 ):
        print( i, line.rstrip() )

1 #'chr'	'start'	'end'	'blunt'	'cap'	'dual_pen'	'erm'	'pen'	'tuf'
2 NC_007795.1	2500004	2500006	4.0	3.0	1.0	1.0	2.0	10.0
3 NC_007795.1	2500008	2500010	3.0	11.0	0.0	1.0	2.0	11.0
4 NC_007795.1	2500020	2500022	4.0	13.0	8.0	2.0	5.0	13.0
5 NC_007795.1	2500022	2500024	27.0	15.0	8.0	3.0	7.0	18.0
6 NC_007795.1	2500031	2500033	27.0	13.0	8.0	3.0	6.0	23.0
7 NC_007795.1	2500033	2500035	26.0	12.0	8.0	3.0	5.0	23.0
8 NC_007795.1	2500037	2500039	28.0	12.0	6.0	5.0	7.0	16.0
9 NC_007795.1	2500043	2500045	6.0	11.0	6.0	4.0	5.0	10.0
10 NC_007795.1	2500050	2500052	5.0	6.0	5.0	4.0	5.0	6.0
11 NC_007795.1	2500058	2500060	1.0	5.0	0.0	0.0	1.0	2.0
12 NC_007795.1	2500061	2500063	3.0	0.0	0.0	0.0	0.0	0.0
13 NC_007795.1	2500065	2500067	4.0	2.0	0.0	13.0	1.0	3.0
14 NC_007795.1	2500077	2500079	5.0	3.0	0.0	13.0	8.0	8.0
15 NC_007795.1	2500085	2500087	5.0	1.0	0.0	1.0	7.0	6.0
16 NC_007795.1	2500089	2500091	4.0	1.0	0.0	1.0	6.0	4.0
17 NC_007795.1	2500097	2500099	2.0	0.0	0.0	1.0	0.0	1.0
18 NC_007795.1	2500103	2500105	1.0	0.0	0.0	0.0	0.0	0.0
19 NC_007795.1	2500110	2500112	1.0	3.0	0.0	2.0	0.0	0.0
20 NC_007795.1	2500124	2500126	1.0	3.0	0.0	3.0	1.0	1.0
21 NC_007795.1	2500131	2500133	1.0	3.0	4.0	2.0	3.0	27.0
22 NC_007795.1	2500148	2500150	2.0	8.0	0.0	3.0	10.0	1.0
23 NC_007795.1	2500150	2500152	3.0	9.0	5.0	6.0	10.0	2.0
24 NC_007795.1	2500158	2500160	3.0	9.0	5.0	6.0	10.0	2.0
25 NC_007795.1	2500167	2500169	0.0	0.0	0.0	1.0	0.0	0.0
26 NC_007795.1	2500175	2500177	0.0	0.0	0.0	1.0	0.0	0.0
27 NC_007795.1	2500181	2500183	3.0	2.0	1.0	11.0	10.0	11.0
28 NC_007795.1	2500193	2500195	4.0	3.0	13.0	13.0	11.0	18.0
29 NC_007795.1	2500214	2500216	3.0	3.0	1.0	2.0	1.0	16.0
30 NC_007795.1	2500219	2500221	3.0	4.0	2.0	2.0	1.0	18.0
31 NC_007795.1	2500223	2500225	3.0	4.0	2.0	2.0	1.0	18.0
32 NC_007795.1	2500232	2500234	0.0	1.0	1.0	0.0	1.0	2.0
33 NC_007795.1	2500253	2500255	10.0	5.0	1.0	3.0	2.0	35.0
34 NC_007795.1	2500265	2500267	12.0	6.0	6.0	3.0	2.0	34.0
35 NC_007795.1	2500280	2500282	4.0	7.0	6.0	5.0	1.0	1.0
36 NC_007795.1	2500282	2500284	2.0	5.0	1.0	5.0	1.0	2.0
37 NC_007795.1	2500286	2500288	1.0	2.0	1.0	0.0	2.0	3.0
38 NC_007795.1	2500293	2500295	1.0	0.0	1.0	2.0	1.0	2.0
39 NC_007795.1	2500299	2500301	1.0	0.0	1.0	2.0	1.0	1.0
40 NC_007795.1	2500305	2500307	0.0	0.0	0.0	2.0	0.0	0.0
41 NC_007795.1	2500326	2500328	0.0	0.0	0.0	0.0	0.0	0.0
42 NC_007795.1	2500340	2500342	1.0	0.0	2.0	1.0	0.0	0.0
43 NC_007795.1	2500344	2500346	1.0	0.0	2.0	1.0	0.0	0.0
44 NC_007795.1	2500352	2500354	1.0	1.0	3.0	1.0	0.0	0.0
45 NC_007795.1	2500376	2500378	2.0	0.0	1.0	0.0	1.0	6.0
46 NC_007795.1	2500380	2500382	2.0	0.0	0.0	0.0	2.0	2.0
47 NC_007795.1	2500394	2500396	0.0	0.0	0.0	0.0	1.0	0.0
48 NC_007795.1	2500409	2500411	1.0	0.0	0.0	0.0	0.0	2.0
49 NC_007795.1	2500428	2500430	0.0	0.0	0.0	0.0	1.0	2.0
50 NC_007795.1	2500468	2500470	2.0	2.0	3.0	0.0	1.0	1.0
51 NC_007795.1	2500485	2500487	0.0	1.0	1.0	1.0	2.0	0.0
52 NC_007795.1	2500488	2500490	3.0	1.0	1.0	0.0	2.0	0.0
53 NC_007795.1	2500496	2500498	3.0	0.0	1.0	1.0	1.0	1.0
54 NC_007795.1	2500509	2500511	2.0	8.0	0.0	2.0	2.0	2.0
55 NC_007795.1	2500512	2500514	2.0	8.0	0.0	1.0	2.0	1.0
56 NC_007795.1	2500526	2500528	1.0	0.0	0.0	0.0	0.0	0.0
57 NC_007795.1	2500559	2500561	6.0	8.0	1.0	2.0	8.0	1.0
58 NC_007795.1	2500571	2500573	11.0	9.0	3.0	2.0	9.0	1.0
59 NC_007795.1	2500583	2500585	9.0	11.0	3.0	2.0	7.0	5.0
60 NC_007795.1	2500588	2500590	7.0	10.0	2.0	3.0	11.0	6.0
61 NC_007795.1	2500610	2500612	0.0	0.0	0.0	0.0	0.0	0.0
62 NC_007795.1	2500629	2500631	0.0	0.0	0.0	0.0	0.0	0.0
63 NC_007795.1	2500661	2500663	12.0	1.0	5.0	3.0	0.0	1.0
64 NC_007795.1	2500682	2500684	1.0	1.0	1.0	4.0	0.0	1.0
65 NC_007795.1	2500685	2500687	2.0	2.0	16.0	8.0	1.0	2.0
66 NC_007795.1	2500694	2500696	1.0	2.0	15.0	4.0	1.0	1.0
67 NC_007795.1	2500700	2500702	1.0	2.0	15.0	4.0	1.0	2.0
68 NC_007795.1	2500707	2500709	0.0	1.0	1.0	3.0	1.0	1.0
69 NC_007795.1	2500710	2500712	0.0	1.0	1.0	3.0	1.0	1.0
70 NC_007795.1	2500718	2500720	1.0	2.0	1.0	3.0	1.0	0.0
71 NC_007795.1	2500740	2500742	1.0	0.0	1.0	4.0	1.0	2.0
72 NC_007795.1	2500748	2500750	1.0	0.0	2.0	4.0	1.0	2.0
73 NC_007795.1	2500766	2500768	4.0	2.0	14.0	0.0	1.0	4.0
74 NC_007795.1	2500773	2500775	3.0	0.0	4.0	0.0	2.0	9.0
75 NC_007795.1	2500775	2500777	7.0	0.0	15.0	0.0	2.0	17.0
76 NC_007795.1	2500779	2500781	5.0	4.0	13.0	7.0	1.0	16.0
77 NC_007795.1	2500781	2500783	5.0	4.0	12.0	7.0	1.0	16.0
78 NC_007795.1	2500793	2500795	0.0	4.0	0.0	7.0	0.0	1.0
79 NC_007795.1	2500819	2500821	17.0	1.0	1.0	5.0	2.0	7.0
80 NC_007795.1	2500827	2500829	17.0	1.0	1.0	5.0	2.0	7.0
81 NC_007795.1	2500829	2500831	18.0	4.0	1.0	13.0	1.0	9.0
82 NC_007795.1	2500850	2500852	22.0	4.0	3.0	5.0	3.0	4.0
83 NC_007795.1	2500856	2500858	23.0	2.0	2.0	3.0	0.0	2.0
84 NC_007795.1	2500874	2500876	0.0	0.0	0.0	0.0	0.0	1.0
85 NC_007795.1	2500886	2500888	6.0	1.0	4.0	1.0	3.0	3.0
86 NC_007795.1	2500896	2500898	7.0	3.0	11.0	1.0	4.0	3.0
87 NC_007795.1	2500901	2500903	7.0	2.0	8.0	1.0	3.0	3.0
88 NC_007795.1	2500908	2500910	1.0	2.0	7.0	0.0	1.0	1.0
89 NC_007795.1	2500916	2500918	0.0	0.0	0.0	0.0	0.0	0.0
90 NC_007795.1	2500934	2500936	1.0	0.0	1.0	1.0	0.0	6.0
91 NC_007795.1	2500943	2500945	2.0	0.0	0.0	2.0	1.0	8.0
92 NC_007795.1	2500945	2500947	2.0	3.0	0.0	2.0	1.0	10.0
93 NC_007795.1	2500961	2500963	1.0	0.0	1.0	2.0	0.0	7.0
94 NC_007795.1	2500964	2500966	1.0	1.0	1.0	3.0	1.0	2.0
95 NC_007795.1	2500978	2500980	0.0	1.0	0.0	2.0	1.0	0.0
96 NC_007795.1	2500994	2500996	0.0	0.0	1.0	2.0	0.0	0.0
97 NC_007795.1	2501010	2501012	0.0	0.0	3.0	2.0	9.0	1.0
98 NC_007795.1	2501013	2501015	0.0	0.0	2.0	0.0	9.0	1.0
99 NC_007795.1	2501022	2501024	5.0	0.0	2.0	0.0	10.0	1.0
100 NC_007795.1	2501028	2501030	6.0	0.0	0.0	1.0	1.0	0.0

In [0]:
# we might want to get rid of the header

with open( "tnseq_data_short.txt" ) as fileObj:
    for ( i, line ) in enumerate( fileObj, start=1 ):
        if not line.startswith('#'):
            print( i, line.rstrip() )

2 NC_007795.1	2500004	2500006	4.0	3.0	1.0	1.0	2.0	10.0
3 NC_007795.1	2500008	2500010	3.0	11.0	0.0	1.0	2.0	11.0
4 NC_007795.1	2500020	2500022	4.0	13.0	8.0	2.0	5.0	13.0
5 NC_007795.1	2500022	2500024	27.0	15.0	8.0	3.0	7.0	18.0
6 NC_007795.1	2500031	2500033	27.0	13.0	8.0	3.0	6.0	23.0
7 NC_007795.1	2500033	2500035	26.0	12.0	8.0	3.0	5.0	23.0
8 NC_007795.1	2500037	2500039	28.0	12.0	6.0	5.0	7.0	16.0
9 NC_007795.1	2500043	2500045	6.0	11.0	6.0	4.0	5.0	10.0
10 NC_007795.1	2500050	2500052	5.0	6.0	5.0	4.0	5.0	6.0
11 NC_007795.1	2500058	2500060	1.0	5.0	0.0	0.0	1.0	2.0
12 NC_007795.1	2500061	2500063	3.0	0.0	0.0	0.0	0.0	0.0
13 NC_007795.1	2500065	2500067	4.0	2.0	0.0	13.0	1.0	3.0
14 NC_007795.1	2500077	2500079	5.0	3.0	0.0	13.0	8.0	8.0
15 NC_007795.1	2500085	2500087	5.0	1.0	0.0	1.0	7.0	6.0
16 NC_007795.1	2500089	2500091	4.0	1.0	0.0	1.0	6.0	4.0
17 NC_007795.1	2500097	2500099	2.0	0.0	0.0	1.0	0.0	1.0
18 NC_007795.1	2500103	2500105	1.0	0.0	0.0	0.0	0.0	0.0
19 NC_007795.1	2500110	2500112	1.0	3.0	0.0	2.0	0.0	0.0
20 NC_007795.1	2500124	2500126	1.0	3.0	0.0	3.0	1.0	1.0
21 NC_007795.1	2500131	2500133	1.0	3.0	4.0	2.0	3.0	27.0
22 NC_007795.1	2500148	2500150	2.0	8.0	0.0	3.0	10.0	1.0
23 NC_007795.1	2500150	2500152	3.0	9.0	5.0	6.0	10.0	2.0
24 NC_007795.1	2500158	2500160	3.0	9.0	5.0	6.0	10.0	2.0
25 NC_007795.1	2500167	2500169	0.0	0.0	0.0	1.0	0.0	0.0
26 NC_007795.1	2500175	2500177	0.0	0.0	0.0	1.0	0.0	0.0
27 NC_007795.1	2500181	2500183	3.0	2.0	1.0	11.0	10.0	11.0
28 NC_007795.1	2500193	2500195	4.0	3.0	13.0	13.0	11.0	18.0
29 NC_007795.1	2500214	2500216	3.0	3.0	1.0	2.0	1.0	16.0
30 NC_007795.1	2500219	2500221	3.0	4.0	2.0	2.0	1.0	18.0
31 NC_007795.1	2500223	2500225	3.0	4.0	2.0	2.0	1.0	18.0
32 NC_007795.1	2500232	2500234	0.0	1.0	1.0	0.0	1.0	2.0
33 NC_007795.1	2500253	2500255	10.0	5.0	1.0	3.0	2.0	35.0
34 NC_007795.1	2500265	2500267	12.0	6.0	6.0	3.0	2.0	34.0
35 NC_007795.1	2500280	2500282	4.0	7.0	6.0	5.0	1.0	1.0
36 NC_007795.1	2500282	2500284	2.0	5.0	1.0	5.0	1.0	2.0
37 NC_007795.1	2500286	2500288	1.0	2.0	1.0	0.0	2.0	3.0
38 NC_007795.1	2500293	2500295	1.0	0.0	1.0	2.0	1.0	2.0
39 NC_007795.1	2500299	2500301	1.0	0.0	1.0	2.0	1.0	1.0
40 NC_007795.1	2500305	2500307	0.0	0.0	0.0	2.0	0.0	0.0
41 NC_007795.1	2500326	2500328	0.0	0.0	0.0	0.0	0.0	0.0
42 NC_007795.1	2500340	2500342	1.0	0.0	2.0	1.0	0.0	0.0
43 NC_007795.1	2500344	2500346	1.0	0.0	2.0	1.0	0.0	0.0
44 NC_007795.1	2500352	2500354	1.0	1.0	3.0	1.0	0.0	0.0
45 NC_007795.1	2500376	2500378	2.0	0.0	1.0	0.0	1.0	6.0
46 NC_007795.1	2500380	2500382	2.0	0.0	0.0	0.0	2.0	2.0
47 NC_007795.1	2500394	2500396	0.0	0.0	0.0	0.0	1.0	0.0
48 NC_007795.1	2500409	2500411	1.0	0.0	0.0	0.0	0.0	2.0
49 NC_007795.1	2500428	2500430	0.0	0.0	0.0	0.0	1.0	2.0
50 NC_007795.1	2500468	2500470	2.0	2.0	3.0	0.0	1.0	1.0
51 NC_007795.1	2500485	2500487	0.0	1.0	1.0	1.0	2.0	0.0
52 NC_007795.1	2500488	2500490	3.0	1.0	1.0	0.0	2.0	0.0
53 NC_007795.1	2500496	2500498	3.0	0.0	1.0	1.0	1.0	1.0
54 NC_007795.1	2500509	2500511	2.0	8.0	0.0	2.0	2.0	2.0
55 NC_007795.1	2500512	2500514	2.0	8.0	0.0	1.0	2.0	1.0
56 NC_007795.1	2500526	2500528	1.0	0.0	0.0	0.0	0.0	0.0
57 NC_007795.1	2500559	2500561	6.0	8.0	1.0	2.0	8.0	1.0
58 NC_007795.1	2500571	2500573	11.0	9.0	3.0	2.0	9.0	1.0
59 NC_007795.1	2500583	2500585	9.0	11.0	3.0	2.0	7.0	5.0
60 NC_007795.1	2500588	2500590	7.0	10.0	2.0	3.0	11.0	6.0
61 NC_007795.1	2500610	2500612	0.0	0.0	0.0	0.0	0.0	0.0
62 NC_007795.1	2500629	2500631	0.0	0.0	0.0	0.0	0.0	0.0
63 NC_007795.1	2500661	2500663	12.0	1.0	5.0	3.0	0.0	1.0
64 NC_007795.1	2500682	2500684	1.0	1.0	1.0	4.0	0.0	1.0
65 NC_007795.1	2500685	2500687	2.0	2.0	16.0	8.0	1.0	2.0
66 NC_007795.1	2500694	2500696	1.0	2.0	15.0	4.0	1.0	1.0
67 NC_007795.1	2500700	2500702	1.0	2.0	15.0	4.0	1.0	2.0
68 NC_007795.1	2500707	2500709	0.0	1.0	1.0	3.0	1.0	1.0
69 NC_007795.1	2500710	2500712	0.0	1.0	1.0	3.0	1.0	1.0
70 NC_007795.1	2500718	2500720	1.0	2.0	1.0	3.0	1.0	0.0
71 NC_007795.1	2500740	2500742	1.0	0.0	1.0	4.0	1.0	2.0
72 NC_007795.1	2500748	2500750	1.0	0.0	2.0	4.0	1.0	2.0
73 NC_007795.1	2500766	2500768	4.0	2.0	14.0	0.0	1.0	4.0
74 NC_007795.1	2500773	2500775	3.0	0.0	4.0	0.0	2.0	9.0
75 NC_007795.1	2500775	2500777	7.0	0.0	15.0	0.0	2.0	17.0
76 NC_007795.1	2500779	2500781	5.0	4.0	13.0	7.0	1.0	16.0
77 NC_007795.1	2500781	2500783	5.0	4.0	12.0	7.0	1.0	16.0
78 NC_007795.1	2500793	2500795	0.0	4.0	0.0	7.0	0.0	1.0
79 NC_007795.1	2500819	2500821	17.0	1.0	1.0	5.0	2.0	7.0
80 NC_007795.1	2500827	2500829	17.0	1.0	1.0	5.0	2.0	7.0
81 NC_007795.1	2500829	2500831	18.0	4.0	1.0	13.0	1.0	9.0
82 NC_007795.1	2500850	2500852	22.0	4.0	3.0	5.0	3.0	4.0
83 NC_007795.1	2500856	2500858	23.0	2.0	2.0	3.0	0.0	2.0
84 NC_007795.1	2500874	2500876	0.0	0.0	0.0	0.0	0.0	1.0
85 NC_007795.1	2500886	2500888	6.0	1.0	4.0	1.0	3.0	3.0
86 NC_007795.1	2500896	2500898	7.0	3.0	11.0	1.0	4.0	3.0
87 NC_007795.1	2500901	2500903	7.0	2.0	8.0	1.0	3.0	3.0
88 NC_007795.1	2500908	2500910	1.0	2.0	7.0	0.0	1.0	1.0
89 NC_007795.1	2500916	2500918	0.0	0.0	0.0	0.0	0.0	0.0
90 NC_007795.1	2500934	2500936	1.0	0.0	1.0	1.0	0.0	6.0
91 NC_007795.1	2500943	2500945	2.0	0.0	0.0	2.0	1.0	8.0
92 NC_007795.1	2500945	2500947	2.0	3.0	0.0	2.0	1.0	10.0
93 NC_007795.1	2500961	2500963	1.0	0.0	1.0	2.0	0.0	7.0
94 NC_007795.1	2500964	2500966	1.0	1.0	1.0	3.0	1.0	2.0
95 NC_007795.1	2500978	2500980	0.0	1.0	0.0	2.0	1.0	0.0
96 NC_007795.1	2500994	2500996	0.0	0.0	1.0	2.0	0.0	0.0
97 NC_007795.1	2501010	2501012	0.0	0.0	3.0	2.0	9.0	1.0
98 NC_007795.1	2501013	2501015	0.0	0.0	2.0	0.0	9.0	1.0
99 NC_007795.1	2501022	2501024	5.0	0.0	2.0	0.0	10.0	1.0
100 NC_007795.1	2501028	2501030	6.0	0.0	0.0	1.0	1.0	0.0

## Exercises 2.3.1

Write a script that reads a file containing many lines of nucleotide sequence. For each line in the file, print out the line number, the length of the sequence and the sequence (There is an example file <a href="http://www.ebi.ac.uk/~grsr/perl/dna.txt">here</a> or in `data/dna.txt` from the course materials ).

## Writing to files

Once a file has been opened for writing, you can use the `.write()` method on a file object to write data to the file.

The argument to the `.write()` method must be a string, so if you want to write out numerical data to a file you will have to convert it to a string somehow beforehand.

<div class="alert-warning">**Remember** to include a newline character `\n` to separate lines of your output, unlike the `print()` statement, `.write()` does not include this by default.</div>

In [0]:
read_counts = {
    'BRCA2': 43234,
    'FOXP2': 3245,
    'SORT1': 343792
}

with open( "out.txt", "w" ) as output:
    output.write("GENE\tREAD_COUNT\n")

    for gene in read_counts:
        line = "\t".join( [ gene, str(read_counts[gene]) ] )
        output.write(line + "\n")

In [0]:
!cat out.txt

GENE	READ_COUNT
BRCA2	43234
FOXP2	3245
SORT1	343792

Be cautious when opening a file for writing, as python will happily let you overwrite any existing data in the file.

## Exercises 2.3.2

Create a script that writes the values of a list of numbers to a file, with each number on a seperate line.

# Part 2.4: Delimited files

------

- Data formats

## Data formats

Bioinformaticians love creating endless new file formats for their data, but there is one very common standard format
that it is good to get used to parsing.

Our TnSeq dataset is tab delimited:
```
NC_007795.1     2500004 2500006 4.0     3.0     1.0     1.0     2.0     10.0
NC_007795.1     2500008 2500010 3.0     11.0    0.0     1.0     2.0     11.0
NC_007795.1     2500020 2500022 4.0     13.0    8.0     2.0     5.0     13.0
NC_007795.1     2500022 2500024 27.0    15.0    8.0     3.0     7.0     18.0
```

### Reading delimited files

In [0]:
#Let's print every line

with open( "tnseq_data_short.txt" ) as fileObj:
    for ( i, line ) in enumerate( fileObj, start = 1 ):
        if not line.startswith('#'):
            print( i, line.rstrip())

In [0]:
#Let's split line into fields

with open( "tnseq_data_short.txt" ) as fileObj:
    for ( i, line ) in enumerate( fileObj, start = 1 ):
        if not line.startswith('#'):
            print( i, line.rstrip().split('\t') )

2 ['NC_007795.1', '2500004', '2500006', '4.0', '3.0', '1.0', '1.0', '2.0', '10.0']
3 ['NC_007795.1', '2500008', '2500010', '3.0', '11.0', '0.0', '1.0', '2.0', '11.0']
4 ['NC_007795.1', '2500020', '2500022', '4.0', '13.0', '8.0', '2.0', '5.0', '13.0']
5 ['NC_007795.1', '2500022', '2500024', '27.0', '15.0', '8.0', '3.0', '7.0', '18.0']
6 ['NC_007795.1', '2500031', '2500033', '27.0', '13.0', '8.0', '3.0', '6.0', '23.0']
7 ['NC_007795.1', '2500033', '2500035', '26.0', '12.0', '8.0', '3.0', '5.0', '23.0']
8 ['NC_007795.1', '2500037', '2500039', '28.0', '12.0', '6.0', '5.0', '7.0', '16.0']
9 ['NC_007795.1', '2500043', '2500045', '6.0', '11.0', '6.0', '4.0', '5.0', '10.0']
10 ['NC_007795.1', '2500050', '2500052', '5.0', '6.0', '5.0', '4.0', '5.0', '6.0']
11 ['NC_007795.1', '2500058', '2500060', '1.0', '5.0', '0.0', '0.0', '1.0', '2.0']
12 ['NC_007795.1', '2500061', '2500063', '3.0', '0.0', '0.0', '0.0', '0.0', '0.0']
13 ['NC_007795.1', '2500065', '2500067', '4.0', '2.0', '0.0', '13.0', '1.0', '3.0']
14 ['NC_007795.1', '2500077', '2500079', '5.0', '3.0', '0.0', '13.0', '8.0', '8.0']
15 ['NC_007795.1', '2500085', '2500087', '5.0', '1.0', '0.0', '1.0', '7.0', '6.0']
16 ['NC_007795.1', '2500089', '2500091', '4.0', '1.0', '0.0', '1.0', '6.0', '4.0']
17 ['NC_007795.1', '2500097', '2500099', '2.0', '0.0', '0.0', '1.0', '0.0', '1.0']
18 ['NC_007795.1', '2500103', '2500105', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0']
19 ['NC_007795.1', '2500110', '2500112', '1.0', '3.0', '0.0', '2.0', '0.0', '0.0']
20 ['NC_007795.1', '2500124', '2500126', '1.0', '3.0', '0.0', '3.0', '1.0', '1.0']
21 ['NC_007795.1', '2500131', '2500133', '1.0', '3.0', '4.0', '2.0', '3.0', '27.0']
22 ['NC_007795.1', '2500148', '2500150', '2.0', '8.0', '0.0', '3.0', '10.0', '1.0']
23 ['NC_007795.1', '2500150', '2500152', '3.0', '9.0', '5.0', '6.0', '10.0', '2.0']
24 ['NC_007795.1', '2500158', '2500160', '3.0', '9.0', '5.0', '6.0', '10.0', '2.0']
25 ['NC_007795.1', '2500167', '2500169', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0']
26 ['NC_007795.1', '2500175', '2500177', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0']
27 ['NC_007795.1', '2500181', '2500183', '3.0', '2.0', '1.0', '11.0', '10.0', '11.0']
28 ['NC_007795.1', '2500193', '2500195', '4.0', '3.0', '13.0', '13.0', '11.0', '18.0']
29 ['NC_007795.1', '2500214', '2500216', '3.0', '3.0', '1.0', '2.0', '1.0', '16.0']
30 ['NC_007795.1', '2500219', '2500221', '3.0', '4.0', '2.0', '2.0', '1.0', '18.0']
31 ['NC_007795.1', '2500223', '2500225', '3.0', '4.0', '2.0', '2.0', '1.0', '18.0']
32 ['NC_007795.1', '2500232', '2500234', '0.0', '1.0', '1.0', '0.0', '1.0', '2.0']
33 ['NC_007795.1', '2500253', '2500255', '10.0', '5.0', '1.0', '3.0', '2.0', '35.0']
34 ['NC_007795.1', '2500265', '2500267', '12.0', '6.0', '6.0', '3.0', '2.0', '34.0']
35 ['NC_007795.1', '2500280', '2500282', '4.0', '7.0', '6.0', '5.0', '1.0', '1.0']
36 ['NC_007795.1', '2500282', '2500284', '2.0', '5.0', '1.0', '5.0', '1.0', '2.0']
37 ['NC_007795.1', '2500286', '2500288', '1.0', '2.0', '1.0', '0.0', '2.0', '3.0']
38 ['NC_007795.1', '2500293', '2500295', '1.0', '0.0', '1.0', '2.0', '1.0', '2.0']
39 ['NC_007795.1', '2500299', '2500301', '1.0', '0.0', '1.0', '2.0', '1.0', '1.0']
40 ['NC_007795.1', '2500305', '2500307', '0.0', '0.0', '0.0', '2.0', '0.0', '0.0']
41 ['NC_007795.1', '2500326', '2500328', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
42 ['NC_007795.1', '2500340', '2500342', '1.0', '0.0', '2.0', '1.0', '0.0', '0.0']
43 ['NC_007795.1', '2500344', '2500346', '1.0', '0.0', '2.0', '1.0', '0.0', '0.0']
44 ['NC_007795.1', '2500352', '2500354', '1.0', '1.0', '3.0', '1.0', '0.0', '0.0']
45 ['NC_007795.1', '2500376', '2500378', '2.0', '0.0', '1.0', '0.0', '1.0', '6.0']
46 ['NC_007795.1', '2500380', '2500382', '2.0', '0.0', '0.0', '0.0', '2.0', '2.0']
47 ['NC_007795.1', '2500394', '2500396', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0']
48 ['NC_007795.1', '2500409', '2500411', '1.0', '0.0', '0.0', '0.0', '0.0', '2.0']
49 ['NC_007795.1', '2500428', '2500430', '0.0', '0.0', '0.0', '0.0', '1.0', '2.0']
50 ['NC_007795.1', '2500468', '2500470', '2.0', '2.0', '3.0', '0.0', '1.0', '1.0']
51 ['NC_007795.1', '2500485', '2500487', '0.0', '1.0', '1.0', '1.0', '2.0', '0.0']
52 ['NC_007795.1', '2500488', '2500490', '3.0', '1.0', '1.0', '0.0', '2.0', '0.0']
53 ['NC_007795.1', '2500496', '2500498', '3.0', '0.0', '1.0', '1.0', '1.0', '1.0']
54 ['NC_007795.1', '2500509', '2500511', '2.0', '8.0', '0.0', '2.0', '2.0', '2.0']
55 ['NC_007795.1', '2500512', '2500514', '2.0', '8.0', '0.0', '1.0', '2.0', '1.0']
56 ['NC_007795.1', '2500526', '2500528', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0']
57 ['NC_007795.1', '2500559', '2500561', '6.0', '8.0', '1.0', '2.0', '8.0', '1.0']
58 ['NC_007795.1', '2500571', '2500573', '11.0', '9.0', '3.0', '2.0', '9.0', '1.0']
59 ['NC_007795.1', '2500583', '2500585', '9.0', '11.0', '3.0', '2.0', '7.0', '5.0']
60 ['NC_007795.1', '2500588', '2500590', '7.0', '10.0', '2.0', '3.0', '11.0', '6.0']
61 ['NC_007795.1', '2500610', '2500612', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
62 ['NC_007795.1', '2500629', '2500631', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
63 ['NC_007795.1', '2500661', '2500663', '12.0', '1.0', '5.0', '3.0', '0.0', '1.0']
64 ['NC_007795.1', '2500682', '2500684', '1.0', '1.0', '1.0', '4.0', '0.0', '1.0']
65 ['NC_007795.1', '2500685', '2500687', '2.0', '2.0', '16.0', '8.0', '1.0', '2.0']
66 ['NC_007795.1', '2500694', '2500696', '1.0', '2.0', '15.0', '4.0', '1.0', '1.0']
67 ['NC_007795.1', '2500700', '2500702', '1.0', '2.0', '15.0', '4.0', '1.0', '2.0']
68 ['NC_007795.1', '2500707', '2500709', '0.0', '1.0', '1.0', '3.0', '1.0', '1.0']
69 ['NC_007795.1', '2500710', '2500712', '0.0', '1.0', '1.0', '3.0', '1.0', '1.0']
70 ['NC_007795.1', '2500718', '2500720', '1.0', '2.0', '1.0', '3.0', '1.0', '0.0']
71 ['NC_007795.1', '2500740', '2500742', '1.0', '0.0', '1.0', '4.0', '1.0', '2.0']
72 ['NC_007795.1', '2500748', '2500750', '1.0', '0.0', '2.0', '4.0', '1.0', '2.0']
73 ['NC_007795.1', '2500766', '2500768', '4.0', '2.0', '14.0', '0.0', '1.0', '4.0']
74 ['NC_007795.1', '2500773', '2500775', '3.0', '0.0', '4.0', '0.0', '2.0', '9.0']
75 ['NC_007795.1', '2500775', '2500777', '7.0', '0.0', '15.0', '0.0', '2.0', '17.0']
76 ['NC_007795.1', '2500779', '2500781', '5.0', '4.0', '13.0', '7.0', '1.0', '16.0']
77 ['NC_007795.1', '2500781', '2500783', '5.0', '4.0', '12.0', '7.0', '1.0', '16.0']
78 ['NC_007795.1', '2500793', '2500795', '0.0', '4.0', '0.0', '7.0', '0.0', '1.0']
79 ['NC_007795.1', '2500819', '2500821', '17.0', '1.0', '1.0', '5.0', '2.0', '7.0']
80 ['NC_007795.1', '2500827', '2500829', '17.0', '1.0', '1.0', '5.0', '2.0', '7.0']
81 ['NC_007795.1', '2500829', '2500831', '18.0', '4.0', '1.0', '13.0', '1.0', '9.0']
82 ['NC_007795.1', '2500850', '2500852', '22.0', '4.0', '3.0', '5.0', '3.0', '4.0']
83 ['NC_007795.1', '2500856', '2500858', '23.0', '2.0', '2.0', '3.0', '0.0', '2.0']
84 ['NC_007795.1', '2500874', '2500876', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0']
85 ['NC_007795.1', '2500886', '2500888', '6.0', '1.0', '4.0', '1.0', '3.0', '3.0']
86 ['NC_007795.1', '2500896', '2500898', '7.0', '3.0', '11.0', '1.0', '4.0', '3.0']
87 ['NC_007795.1', '2500901', '2500903', '7.0', '2.0', '8.0', '1.0', '3.0', '3.0']
88 ['NC_007795.1', '2500908', '2500910', '1.0', '2.0', '7.0', '0.0', '1.0', '1.0']
89 ['NC_007795.1', '2500916', '2500918', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
90 ['NC_007795.1', '2500934', '2500936', '1.0', '0.0', '1.0', '1.0', '0.0', '6.0']
91 ['NC_007795.1', '2500943', '2500945', '2.0', '0.0', '0.0', '2.0', '1.0', '8.0']
92 ['NC_007795.1', '2500945', '2500947', '2.0', '3.0', '0.0', '2.0', '1.0', '10.0']
93 ['NC_007795.1', '2500961', '2500963', '1.0', '0.0', '1.0', '2.0', '0.0', '7.0']
94 ['NC_007795.1', '2500964', '2500966', '1.0', '1.0', '1.0', '3.0', '1.0', '2.0']
95 ['NC_007795.1', '2500978', '2500980', '0.0', '1.0', '0.0', '2.0', '1.0', '0.0']
96 ['NC_007795.1', '2500994', '2500996', '0.0', '0.0', '1.0', '2.0', '0.0', '0.0']
97 ['NC_007795.1', '2501010', '2501012', '0.0', '0.0', '3.0', '2.0', '9.0', '1.0']
98 ['NC_007795.1', '2501013', '2501015', '0.0', '0.0', '2.0', '0.0', '9.0', '1.0']
99 ['NC_007795.1', '2501022', '2501024', '5.0', '0.0', '2.0', '0.0', '10.0', '1.0']
100 ['NC_007795.1', '2501028', '2501030', '6.0', '0.0', '0.0', '1.0', '1.0', '0.0']

In [0]:
#Let's omit accession number field

with open( "tnseq_data_short.txt" ) as fileObj:
    for ( i, line ) in enumerate( fileObj, start = 1 ):
        if not line.startswith('#'):
            print( i,"\t", line.rstrip().split('\t')[1:])

2 	 ['2500004', '2500006', '4.0', '3.0', '1.0', '1.0', '2.0', '10.0']
3 	 ['2500008', '2500010', '3.0', '11.0', '0.0', '1.0', '2.0', '11.0']
4 	 ['2500020', '2500022', '4.0', '13.0', '8.0', '2.0', '5.0', '13.0']
5 	 ['2500022', '2500024', '27.0', '15.0', '8.0', '3.0', '7.0', '18.0']
6 	 ['2500031', '2500033', '27.0', '13.0', '8.0', '3.0', '6.0', '23.0']
7 	 ['2500033', '2500035', '26.0', '12.0', '8.0', '3.0', '5.0', '23.0']
8 	 ['2500037', '2500039', '28.0', '12.0', '6.0', '5.0', '7.0', '16.0']
9 	 ['2500043', '2500045', '6.0', '11.0', '6.0', '4.0', '5.0', '10.0']
10 	 ['2500050', '2500052', '5.0', '6.0', '5.0', '4.0', '5.0', '6.0']
11 	 ['2500058', '2500060', '1.0', '5.0', '0.0', '0.0', '1.0', '2.0']
12 	 ['2500061', '2500063', '3.0', '0.0', '0.0', '0.0', '0.0', '0.0']
13 	 ['2500065', '2500067', '4.0', '2.0', '0.0', '13.0', '1.0', '3.0']
14 	 ['2500077', '2500079', '5.0', '3.0', '0.0', '13.0', '8.0', '8.0']
15 	 ['2500085', '2500087', '5.0', '1.0', '0.0', '1.0', '7.0', '6.0']
16 	 ['2500089', '2500091', '4.0', '1.0', '0.0', '1.0', '6.0', '4.0']
17 	 ['2500097', '2500099', '2.0', '0.0', '0.0', '1.0', '0.0', '1.0']
18 	 ['2500103', '2500105', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0']
19 	 ['2500110', '2500112', '1.0', '3.0', '0.0', '2.0', '0.0', '0.0']
20 	 ['2500124', '2500126', '1.0', '3.0', '0.0', '3.0', '1.0', '1.0']
21 	 ['2500131', '2500133', '1.0', '3.0', '4.0', '2.0', '3.0', '27.0']
22 	 ['2500148', '2500150', '2.0', '8.0', '0.0', '3.0', '10.0', '1.0']
23 	 ['2500150', '2500152', '3.0', '9.0', '5.0', '6.0', '10.0', '2.0']
24 	 ['2500158', '2500160', '3.0', '9.0', '5.0', '6.0', '10.0', '2.0']
25 	 ['2500167', '2500169', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0']
26 	 ['2500175', '2500177', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0']
27 	 ['2500181', '2500183', '3.0', '2.0', '1.0', '11.0', '10.0', '11.0']
28 	 ['2500193', '2500195', '4.0', '3.0', '13.0', '13.0', '11.0', '18.0']
29 	 ['2500214', '2500216', '3.0', '3.0', '1.0', '2.0', '1.0', '16.0']
30 	 ['2500219', '2500221', '3.0', '4.0', '2.0', '2.0', '1.0', '18.0']
31 	 ['2500223', '2500225', '3.0', '4.0', '2.0', '2.0', '1.0', '18.0']
32 	 ['2500232', '2500234', '0.0', '1.0', '1.0', '0.0', '1.0', '2.0']
33 	 ['2500253', '2500255', '10.0', '5.0', '1.0', '3.0', '2.0', '35.0']
34 	 ['2500265', '2500267', '12.0', '6.0', '6.0', '3.0', '2.0', '34.0']
35 	 ['2500280', '2500282', '4.0', '7.0', '6.0', '5.0', '1.0', '1.0']
36 	 ['2500282', '2500284', '2.0', '5.0', '1.0', '5.0', '1.0', '2.0']
37 	 ['2500286', '2500288', '1.0', '2.0', '1.0', '0.0', '2.0', '3.0']
38 	 ['2500293', '2500295', '1.0', '0.0', '1.0', '2.0', '1.0', '2.0']
39 	 ['2500299', '2500301', '1.0', '0.0', '1.0', '2.0', '1.0', '1.0']
40 	 ['2500305', '2500307', '0.0', '0.0', '0.0', '2.0', '0.0', '0.0']
41 	 ['2500326', '2500328', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
42 	 ['2500340', '2500342', '1.0', '0.0', '2.0', '1.0', '0.0', '0.0']
43 	 ['2500344', '2500346', '1.0', '0.0', '2.0', '1.0', '0.0', '0.0']
44 	 ['2500352', '2500354', '1.0', '1.0', '3.0', '1.0', '0.0', '0.0']
45 	 ['2500376', '2500378', '2.0', '0.0', '1.0', '0.0', '1.0', '6.0']
46 	 ['2500380', '2500382', '2.0', '0.0', '0.0', '0.0', '2.0', '2.0']
47 	 ['2500394', '2500396', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0']
48 	 ['2500409', '2500411', '1.0', '0.0', '0.0', '0.0', '0.0', '2.0']
49 	 ['2500428', '2500430', '0.0', '0.0', '0.0', '0.0', '1.0', '2.0']
50 	 ['2500468', '2500470', '2.0', '2.0', '3.0', '0.0', '1.0', '1.0']
51 	 ['2500485', '2500487', '0.0', '1.0', '1.0', '1.0', '2.0', '0.0']
52 	 ['2500488', '2500490', '3.0', '1.0', '1.0', '0.0', '2.0', '0.0']
53 	 ['2500496', '2500498', '3.0', '0.0', '1.0', '1.0', '1.0', '1.0']
54 	 ['2500509', '2500511', '2.0', '8.0', '0.0', '2.0', '2.0', '2.0']
55 	 ['2500512', '2500514', '2.0', '8.0', '0.0', '1.0', '2.0', '1.0']
56 	 ['2500526', '2500528', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0']
57 	 ['2500559', '2500561', '6.0', '8.0', '1.0', '2.0', '8.0', '1.0']
58 	 ['2500571', '2500573', '11.0', '9.0', '3.0', '2.0', '9.0', '1.0']
59 	 ['2500583', '2500585', '9.0', '11.0', '3.0', '2.0', '7.0', '5.0']
60 	 ['2500588', '2500590', '7.0', '10.0', '2.0', '3.0', '11.0', '6.0']
61 	 ['2500610', '2500612', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
62 	 ['2500629', '2500631', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
63 	 ['2500661', '2500663', '12.0', '1.0', '5.0', '3.0', '0.0', '1.0']
64 	 ['2500682', '2500684', '1.0', '1.0', '1.0', '4.0', '0.0', '1.0']
65 	 ['2500685', '2500687', '2.0', '2.0', '16.0', '8.0', '1.0', '2.0']
66 	 ['2500694', '2500696', '1.0', '2.0', '15.0', '4.0', '1.0', '1.0']
67 	 ['2500700', '2500702', '1.0', '2.0', '15.0', '4.0', '1.0', '2.0']
68 	 ['2500707', '2500709', '0.0', '1.0', '1.0', '3.0', '1.0', '1.0']
69 	 ['2500710', '2500712', '0.0', '1.0', '1.0', '3.0', '1.0', '1.0']
70 	 ['2500718', '2500720', '1.0', '2.0', '1.0', '3.0', '1.0', '0.0']
71 	 ['2500740', '2500742', '1.0', '0.0', '1.0', '4.0', '1.0', '2.0']
72 	 ['2500748', '2500750', '1.0', '0.0', '2.0', '4.0', '1.0', '2.0']
73 	 ['2500766', '2500768', '4.0', '2.0', '14.0', '0.0', '1.0', '4.0']
74 	 ['2500773', '2500775', '3.0', '0.0', '4.0', '0.0', '2.0', '9.0']
75 	 ['2500775', '2500777', '7.0', '0.0', '15.0', '0.0', '2.0', '17.0']
76 	 ['2500779', '2500781', '5.0', '4.0', '13.0', '7.0', '1.0', '16.0']
77 	 ['2500781', '2500783', '5.0', '4.0', '12.0', '7.0', '1.0', '16.0']
78 	 ['2500793', '2500795', '0.0', '4.0', '0.0', '7.0', '0.0', '1.0']
79 	 ['2500819', '2500821', '17.0', '1.0', '1.0', '5.0', '2.0', '7.0']
80 	 ['2500827', '2500829', '17.0', '1.0', '1.0', '5.0', '2.0', '7.0']
81 	 ['2500829', '2500831', '18.0', '4.0', '1.0', '13.0', '1.0', '9.0']
82 	 ['2500850', '2500852', '22.0', '4.0', '3.0', '5.0', '3.0', '4.0']
83 	 ['2500856', '2500858', '23.0', '2.0', '2.0', '3.0', '0.0', '2.0']
84 	 ['2500874', '2500876', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0']
85 	 ['2500886', '2500888', '6.0', '1.0', '4.0', '1.0', '3.0', '3.0']
86 	 ['2500896', '2500898', '7.0', '3.0', '11.0', '1.0', '4.0', '3.0']
87 	 ['2500901', '2500903', '7.0', '2.0', '8.0', '1.0', '3.0', '3.0']
88 	 ['2500908', '2500910', '1.0', '2.0', '7.0', '0.0', '1.0', '1.0']
89 	 ['2500916', '2500918', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0']
90 	 ['2500934', '2500936', '1.0', '0.0', '1.0', '1.0', '0.0', '6.0']
91 	 ['2500943', '2500945', '2.0', '0.0', '0.0', '2.0', '1.0', '8.0']
92 	 ['2500945', '2500947', '2.0', '3.0', '0.0', '2.0', '1.0', '10.0']
93 	 ['2500961', '2500963', '1.0', '0.0', '1.0', '2.0', '0.0', '7.0']
94 	 ['2500964', '2500966', '1.0', '1.0', '1.0', '3.0', '1.0', '2.0']
95 	 ['2500978', '2500980', '0.0', '1.0', '0.0', '2.0', '1.0', '0.0']
96 	 ['2500994', '2500996', '0.0', '0.0', '1.0', '2.0', '0.0', '0.0']
97 	 ['2501010', '2501012', '0.0', '0.0', '3.0', '2.0', '9.0', '1.0']
98 	 ['2501013', '2501015', '0.0', '0.0', '2.0', '0.0', '9.0', '1.0']
99 	 ['2501022', '2501024', '5.0', '0.0', '2.0', '0.0', '10.0', '1.0']
100 	 ['2501028', '2501030', '6.0', '0.0', '0.0', '1.0', '1.0', '0.0']

In [0]:
# Let's join fields with tabs

with open( "tnseq_data_short.txt" ) as fileObj:
    for ( i, line ) in enumerate( fileObj, start = 1 ):
        if not line.startswith('#'):
            print( i,"\t", "\t".join(line.rstrip().split('\t')[1:]))

2 	 2500004	2500006	4.0	3.0	1.0	1.0	2.0	10.0
3 	 2500008	2500010	3.0	11.0	0.0	1.0	2.0	11.0
4 	 2500020	2500022	4.0	13.0	8.0	2.0	5.0	13.0
5 	 2500022	2500024	27.0	15.0	8.0	3.0	7.0	18.0
6 	 2500031	2500033	27.0	13.0	8.0	3.0	6.0	23.0
7 	 2500033	2500035	26.0	12.0	8.0	3.0	5.0	23.0
8 	 2500037	2500039	28.0	12.0	6.0	5.0	7.0	16.0
9 	 2500043	2500045	6.0	11.0	6.0	4.0	5.0	10.0
10 	 2500050	2500052	5.0	6.0	5.0	4.0	5.0	6.0
11 	 2500058	2500060	1.0	5.0	0.0	0.0	1.0	2.0
12 	 2500061	2500063	3.0	0.0	0.0	0.0	0.0	0.0
13 	 2500065	2500067	4.0	2.0	0.0	13.0	1.0	3.0
14 	 2500077	2500079	5.0	3.0	0.0	13.0	8.0	8.0
15 	 2500085	2500087	5.0	1.0	0.0	1.0	7.0	6.0
16 	 2500089	2500091	4.0	1.0	0.0	1.0	6.0	4.0
17 	 2500097	2500099	2.0	0.0	0.0	1.0	0.0	1.0
18 	 2500103	2500105	1.0	0.0	0.0	0.0	0.0	0.0
19 	 2500110	2500112	1.0	3.0	0.0	2.0	0.0	0.0
20 	 2500124	2500126	1.0	3.0	0.0	3.0	1.0	1.0
21 	 2500131	2500133	1.0	3.0	4.0	2.0	3.0	27.0
22 	 2500148	2500150	2.0	8.0	0.0	3.0	10.0	1.0
23 	 2500150	2500152	3.0	9.0	5.0	6.0	10.0	2.0
24 	 2500158	2500160	3.0	9.0	5.0	6.0	10.0	2.0
25 	 2500167	2500169	0.0	0.0	0.0	1.0	0.0	0.0
26 	 2500175	2500177	0.0	0.0	0.0	1.0	0.0	0.0
27 	 2500181	2500183	3.0	2.0	1.0	11.0	10.0	11.0
28 	 2500193	2500195	4.0	3.0	13.0	13.0	11.0	18.0
29 	 2500214	2500216	3.0	3.0	1.0	2.0	1.0	16.0
30 	 2500219	2500221	3.0	4.0	2.0	2.0	1.0	18.0
31 	 2500223	2500225	3.0	4.0	2.0	2.0	1.0	18.0
32 	 2500232	2500234	0.0	1.0	1.0	0.0	1.0	2.0
33 	 2500253	2500255	10.0	5.0	1.0	3.0	2.0	35.0
34 	 2500265	2500267	12.0	6.0	6.0	3.0	2.0	34.0
35 	 2500280	2500282	4.0	7.0	6.0	5.0	1.0	1.0
36 	 2500282	2500284	2.0	5.0	1.0	5.0	1.0	2.0
37 	 2500286	2500288	1.0	2.0	1.0	0.0	2.0	3.0
38 	 2500293	2500295	1.0	0.0	1.0	2.0	1.0	2.0
39 	 2500299	2500301	1.0	0.0	1.0	2.0	1.0	1.0
40 	 2500305	2500307	0.0	0.0	0.0	2.0	0.0	0.0
41 	 2500326	2500328	0.0	0.0	0.0	0.0	0.0	0.0
42 	 2500340	2500342	1.0	0.0	2.0	1.0	0.0	0.0
43 	 2500344	2500346	1.0	0.0	2.0	1.0	0.0	0.0
44 	 2500352	2500354	1.0	1.0	3.0	1.0	0.0	0.0
45 	 2500376	2500378	2.0	0.0	1.0	0.0	1.0	6.0
46 	 2500380	2500382	2.0	0.0	0.0	0.0	2.0	2.0
47 	 2500394	2500396	0.0	0.0	0.0	0.0	1.0	0.0
48 	 2500409	2500411	1.0	0.0	0.0	0.0	0.0	2.0
49 	 2500428	2500430	0.0	0.0	0.0	0.0	1.0	2.0
50 	 2500468	2500470	2.0	2.0	3.0	0.0	1.0	1.0
51 	 2500485	2500487	0.0	1.0	1.0	1.0	2.0	0.0
52 	 2500488	2500490	3.0	1.0	1.0	0.0	2.0	0.0
53 	 2500496	2500498	3.0	0.0	1.0	1.0	1.0	1.0
54 	 2500509	2500511	2.0	8.0	0.0	2.0	2.0	2.0
55 	 2500512	2500514	2.0	8.0	0.0	1.0	2.0	1.0
56 	 2500526	2500528	1.0	0.0	0.0	0.0	0.0	0.0
57 	 2500559	2500561	6.0	8.0	1.0	2.0	8.0	1.0
58 	 2500571	2500573	11.0	9.0	3.0	2.0	9.0	1.0
59 	 2500583	2500585	9.0	11.0	3.0	2.0	7.0	5.0
60 	 2500588	2500590	7.0	10.0	2.0	3.0	11.0	6.0
61 	 2500610	2500612	0.0	0.0	0.0	0.0	0.0	0.0
62 	 2500629	2500631	0.0	0.0	0.0	0.0	0.0	0.0
63 	 2500661	2500663	12.0	1.0	5.0	3.0	0.0	1.0
64 	 2500682	2500684	1.0	1.0	1.0	4.0	0.0	1.0
65 	 2500685	2500687	2.0	2.0	16.0	8.0	1.0	2.0
66 	 2500694	2500696	1.0	2.0	15.0	4.0	1.0	1.0
67 	 2500700	2500702	1.0	2.0	15.0	4.0	1.0	2.0
68 	 2500707	2500709	0.0	1.0	1.0	3.0	1.0	1.0
69 	 2500710	2500712	0.0	1.0	1.0	3.0	1.0	1.0
70 	 2500718	2500720	1.0	2.0	1.0	3.0	1.0	0.0
71 	 2500740	2500742	1.0	0.0	1.0	4.0	1.0	2.0
72 	 2500748	2500750	1.0	0.0	2.0	4.0	1.0	2.0
73 	 2500766	2500768	4.0	2.0	14.0	0.0	1.0	4.0
74 	 2500773	2500775	3.0	0.0	4.0	0.0	2.0	9.0
75 	 2500775	2500777	7.0	0.0	15.0	0.0	2.0	17.0
76 	 2500779	2500781	5.0	4.0	13.0	7.0	1.0	16.0
77 	 2500781	2500783	5.0	4.0	12.0	7.0	1.0	16.0
78 	 2500793	2500795	0.0	4.0	0.0	7.0	0.0	1.0
79 	 2500819	2500821	17.0	1.0	1.0	5.0	2.0	7.0
80 	 2500827	2500829	17.0	1.0	1.0	5.0	2.0	7.0
81 	 2500829	2500831	18.0	4.0	1.0	13.0	1.0	9.0
82 	 2500850	2500852	22.0	4.0	3.0	5.0	3.0	4.0
83 	 2500856	2500858	23.0	2.0	2.0	3.0	0.0	2.0
84 	 2500874	2500876	0.0	0.0	0.0	0.0	0.0	1.0
85 	 2500886	2500888	6.0	1.0	4.0	1.0	3.0	3.0
86 	 2500896	2500898	7.0	3.0	11.0	1.0	4.0	3.0
87 	 2500901	2500903	7.0	2.0	8.0	1.0	3.0	3.0
88 	 2500908	2500910	1.0	2.0	7.0	0.0	1.0	1.0
89 	 2500916	2500918	0.0	0.0	0.0	0.0	0.0	0.0
90 	 2500934	2500936	1.0	0.0	1.0	1.0	0.0	6.0
91 	 2500943	2500945	2.0	0.0	0.0	2.0	1.0	8.0
92 	 2500945	2500947	2.0	3.0	0.0	2.0	1.0	10.0
93 	 2500961	2500963	1.0	0.0	1.0	2.0	0.0	7.0
94 	 2500964	2500966	1.0	1.0	1.0	3.0	1.0	2.0
95 	 2500978	2500980	0.0	1.0	0.0	2.0	1.0	0.0
96 	 2500994	2500996	0.0	0.0	1.0	2.0	0.0	0.0
97 	 2501010	2501012	0.0	0.0	3.0	2.0	9.0	1.0
98 	 2501013	2501015	0.0	0.0	2.0	0.0	9.0	1.0
99 	 2501022	2501024	5.0	0.0	2.0	0.0	10.0	1.0
100 	 2501028	2501030	6.0	0.0	0.0	1.0	1.0	0.0

In [0]:
# Let's format string properly
f2write = open('no_acc.txt','w')

with open( "tnseq_data_short.txt" ) as fileObj:
    for ( i, line ) in enumerate( fileObj, start = 1 ):
        if not line.startswith('#'):
            new = line.rstrip().split('\t')[1:]
            f2write.write("{}\t{}\n".format(i,"\t".join(new))  )
f2write.close()

In [0]:
!head no_acc.txt

2	2500004	2500006	4.0	3.0	1.0	1.0	2.0	10.0
3	2500008	2500010	3.0	11.0	0.0	1.0	2.0	11.0
4	2500020	2500022	4.0	13.0	8.0	2.0	5.0	13.0
5	2500022	2500024	27.0	15.0	8.0	3.0	7.0	18.0
6	2500031	2500033	27.0	13.0	8.0	3.0	6.0	23.0
7	2500033	2500035	26.0	12.0	8.0	3.0	5.0	23.0
8	2500037	2500039	28.0	12.0	6.0	5.0	7.0	16.0
9	2500043	2500045	6.0	11.0	6.0	4.0	5.0	10.0
10	2500050	2500052	5.0	6.0	5.0	4.0	5.0	6.0
11	2500058	2500060	1.0	5.0	0.0	0.0	1.0	2.0

### Writing delimited files

Writing out a delimited file is also straightforward using the `join` method. Here, as an example we will recreate our original file from above, but this time we will delimit the columns with a comma.

In [0]:
# Create a new file object for the file we will be saving to 

f2write = open('no_acc.txt','w')

with open( "tnseq_data_short.txt" ) as fileObj:
    for ( i, line ) in enumerate( fileObj, start = 1 ):
        if not line.startswith('#'):
            f2write.write("{}\t{}".format(i,"\t".join(line.rstrip().split('\t')[1:]))  )
            
f2write.close()

In [0]:
!head no_acc.txt